{% extends "stu_dash/base.html" %}

{% block add_css %}
<style>
    /*service*/

.services a {
    text-decoration: none;
  }
  .services .service-box {
    text-align: center;
  }
  .services .service-box h2 {
    color: #222;
    font-size: 20px;
    padding-top: 10px;
    text-decoration: none;
  }
  .services a .service-box:hover h2 {
    color: #FB0626;
  }
  .services .investor-box {
      background-color: #FFF9A2;
      background-position: center center;
      padding: 20px;
      width: 100%;
      min-height: 150px;
      display: block;
      position: relative;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .services .investor-box h2 {
    font-size: 20px;
  }
  .services .investor-box .flip-view {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: red;
    left: -10%;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 333ms;
  }
  .services .investor-box a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  .services .investor-box:hover .flip-view {
      left: 0;
      visibility: visible;
      opacity: 1;
  }
</style>
{% endblock %}
    
{% block content %}


<div class="services pb-5">
    <div class="container">
      <div class="pt-5">
        <h2 class="vc_custom_heading ico_header">View Courses</h2>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <div class="investor-box">
              <h2>Exchange Control Regulations</h2>
              <div class="flip-view">
                <a href="#">Read More <i class="fas fa-chevron-circle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="investor-box">
              <h2>Brand Products made in Bangladesh EPZs</h2>
              <div class="flip-view">
                <a href="#">Read More <i class="fas fa-chevron-circle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="investor-box">
              <h2>Classification of Investors</h2>
              <div class="flip-view">
                <a href="#">Read More <i class="fas fa-chevron-circle-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="investor-box">
              <h2>How To Apply</h2>
              <div class="flip-view">
                <a href="#">Read More <i class="fas fa-chevron-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end services-->

{% endblock %}